.saved-news {
  padding: 40px 0 0;
  background-color: white;
  min-height: calc(100vh - 80px - 80px);
}

.saved-news__container {
    background-color: white;
}

.saved-news__header {
  margin-bottom: 48px;
  padding: 0 104px;
}

.saved-news__subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: rgba(26, 27, 34, 0.5);
  margin: 0 0 28px;
}

.saved-news__title {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 40px;
  color: #1A1B22;
  margin: 0;
}

.saved-news__keywords {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #1A1B22;
  margin: 30px 0 0;
}

.saved-news__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  background-color: #F5F6F7;
  padding: 32px 104px;
  width: 100%;
  box-sizing: border-box;
  min-height: 468px;
}

@media screen and (max-width: 768px) {
  .saved-news__header {
    padding: 0 40px;
    margin-bottom: 32px;
  }
  
  .saved-news__title {
    font-size: 30px;
  }
  
  .saved-news__subtitle {
    font-size: 16px;
    margin-bottom: 16px;
  }
  
  .saved-news__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 24px 40px;
  }
}

@media screen and (max-width: 320px) {
  .saved-news__header {
    padding: 0 16px;
    margin-bottom: 24px;
  }
  
  .saved-news__title {
    font-size: 24px;
  }
  
  .saved-news__keywords {
    font-size: 14px;
  }
  
  .saved-news__grid {
    grid-template-columns: 1fr;
    padding: 16px 16px;
    gap: 10px;
  }
}