.app {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero-section {
  background-image: url("../src/assets/background-image.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .hero-section {
    min-height: 400px;
  }
}

@media screen and (max-width: 320px) {
  .hero-section {
    min-height: 536px;
  }
}
